---
let title = 'Crux Dashboard';
---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/style/global.css">

    <style>
        header {
            margin: 15px 0;
        }
    </style>
</head>

<body>
    <main>
        <header>
            <h1>{title}
            </h1>
        </header>


    </main>
</body>

</html>