---
import CruxApp from "../components/CruxApp.svelte";
import * as packageInfo from "../../package.json";


let title = "🚀 CrUX Dashboard";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/style/global.css" />
    </head>
    <body>
        <main>
            <header>
                <h1 class="logo">{title}</h1>

                <p>
                    Compare Chrome UX Report field data for multiple origins or
                    URLs
                </p>
            </header>
            <CruxApp client:visible />
            <footer>v.{packageInfo.version}</footer>
        </main>
    </body>
</html>
<style>
    header {
        padding: var(--padding);
        background-color: #1f1f1f;
        color: #fafafa;
        margin: 0;
    }
    footer {
        text-align: center;
        display: block;
    }
    .logo {
        display: inline-block;
        margin: 0;
    }
</style>
