---
// Component Imports
// You can import components from any supported Framework here!
import CruxApp from "../components/CruxApp.svelte";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "🚀 CrUX Dashboard";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css" />
  </head>
  <body>
    <main>
      <header>
        <h1 class="logo">{title}</h1>
        <p>Compare Chrome UX Report field data for multiple origins or URLs</p>
      </header>
      <CruxApp client:visible />
    </main>
  </body>
</html>
<style>
  header {
    padding: var(--padding);
    background-color: #1f1f1f;
    color: #fafafa;
    margin: 0;
  }
  .logo {
    display: inline-block;
    margin: 0;
  }
</style>
